<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li>
      <form class="info-author-add">
        <input type="text" name="title" placeholder="Title" required>
        <input type="url" name="url" placeholder="Url" required>
        <input type="submit" name="submit" value="Add new author">
      </form>
    </li>
    {{#each authors}}
      <li><a href="{{id}}" target="_blank">{{name}}</a></li>
    {{/each}}
  </ul>
  <ul>
    <li>
      <form class="info-book-add">
        <input type="text" name="title" placeholder="Title" required>
        <input type="url" name="url" placeholder="Url" required>
        <input type="submit" name="submit" value="Add new book">
      </form>
    </li>
    {{#each books}}
      <li><a href="{{id}}" target="_blank">{{name}}</a></li>
    {{/each}}
  </ul>
</template>
